<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="/common/head :: head('Facturaci&oacute;n')"/>
<body>
<th:block th:include="/common/header :: header"/>
	<div class="container">
		<h2 th:text="#{clientes.list.titol}">Lista de clientes</h2>
		<div class="row">		 	
			<div class="col-md-6 col-md-offset-2">
				<form id="frm" th:action="@{'/clientes'}">
					<input  type="hidden" 
							id="page"
							name="page" 
							th:value="${clientes.number}"/>
					<div class="input-group">
				      <input type="text" 
				      		 name="term" 
				      		 th:value="${term}" class="form-control" placeholder="Buscar por..." autofocus="autofocus"/>
				     		 <span class="input-group-btn">
				       		 <button class="btn btn-default" type="submit">Go!</button>
				      </span>
				    </div><!-- /input-group -->
				
					<hr/>
					<div class="media" th:each="cliente:${clientes}">
					  <div class="media-left">
					    <a th:href="@{'clientes/'+${cliente.id}}">
					      <span th:utext="${cliente.cif}"></span>
					    </a>
					  </div>
					  <div class="media-body">
					    <h4 class="media-heading" th:text="${cliente.nom}"></h4>
					    <div class="text-muted">
					    	<span th:text="${cliente.direccion}"></span>
					    	<span th:text="${cliente.municipio}"></span>
					    </div>
					    <div class="text-info">
					    	<span th:text="${cliente.postal}"></span>
					    	<span th:text="${cliente.provincia}"></span>
					     </div>
					     <div class="text-info">
					    	<span th:text="${cliente.tel}"></span>
					    	<span th:text="${cliente.movil}"></span>
					    	<span th:text="${cliente.email}"></span>
					     </div>
					  </div>
					</div><!-- fin foreach -->
						
					<div  th:if="${clientes.totalPages==0}"
						 class="alert alert-warning" th:text="#{factu.nodatafound}">
						 No se han encontrado resultados
					</div>
					<!-- paginado -->
					<nav aria-label="Page navigation"
						 th:if="${clientes.totalPages>0}">
					  <ul class="pagination">
 					    <li>
 					   
					      <a	th:if="${(clientes.number-1)>=0}"
					      		href="#"	
					      		th:onclick="${'setPage('+(clientes.number-1)+')'}"> 
					      		&lt;
							</a>
							
					    </li>
					    <li th:each="page : ${#numbers.sequence(0,clientes.totalPages-1)}"
					    	th:classappend="${clientes.number==page}?'active'">
							<a 
								href="#"	th:onclick="${'setPage('+page+')'}">
								<span th:utext="${page+1}" ></span>
							</a>
						</li>
					    <li>
					    	<a	th:if="${clientes.number &lt; (clientes.totalPages -1)}"
					    		href="#"
					    		th:onclick="${'setPage('+(clientes.number+1)+')'}">  
					    		&gt;
							</a>
							<a th:href="@{/clientes/new}" class="btn">Nuevo</a>	
					    </li>
					  </ul>
					</nav>	
						
				</form>
			</div>
		</div>
		<th:block th:include="/common/footer :: footer"/>
		<script type="text/javascript">
			function setPage(num){
				$("#page").val(num);
				$("#frm").submit();
			}
		</script>
	</div> <!-- container -->
	
</body>
</html>