<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="include/head :: head('Entitat')"/>
<body>
	<div class="container">
		<th:block th:include="include/navbar :: navbar"/>
		<h2 th:text="#{conceptes.edit.titol}">Formulario <small th:text="'Entitat:'+${concepte.entitatId}" ></small></h2>
		<hr/>
		<div class="row">
			<div class="col-md-6 col-md-offset-2">
			
				<div th:if="${#httpServletRequest.getParameter('msg')=='ok'}" 
					 class="alert alert-success" th:text="#{precintes.succesful.operation}">
				</div>
								
				<form th:object="${concepte}" 
					  th:action="@{/admin/concepte/save}"
					  method="post">
					  
				    <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger">
				    	<ul>
						    <li th:each="e : ${#fields.detailedErrors()}" th:class="${e.global}? globalerr : fielderr">
						        <span th:text="${e.global}? '*' : ${e.fieldName}">The field name</span> |
						        <span th:text="${e.message}">The error message</span>
						    </li>
						</ul>
					</div>
						<div class="form-group">
						    <label 	for="id">Entitat ID</label>
						    <input 	class="form-control" 
						    		th:field="*{entitatId}" 
						    		readonly="readonly" 
						    		/>
						</div>
						<div class="form-group">
						    <label 	for="id">ID</label>
						    <input 	class="form-control" 
						    		th:field="*{id}" autofocus="autofocus"
						    		th:errorClass="text-danger" 
						    		placeholder="introduir l'identificador"/>
						</div>
						<div class="form-group">
						    <label 	for="dem">Descripció</label>
						    <input 	class="form-control" 
						    		th:field="*{descripcio}" placeholder="introduir la descripció" />
	 						<span 	th:if="${#fields.hasErrors('descripcio')}" 
						    		th:text="${#fields.errors('descripcio')}"
						    		class="text-danger">
							</span>					    		
						    
						</div>
				
					<button type="submit" class="btn btn-primary" th:text="#{btn.guardar}">Guardar</button>
					<button type="button" onclick="$('#frmRemove').submit();"
							th:if="${concepte.id!=null}"
							class="btn btn-warning"
							th:text="#{btn.esborrar}">Borrar</button>
					<a 		th:href="@{'/admin/conceptes/'+${concepte.entitatId}}"
							class="btn btn-default"
							th:text="#{btn.tornar}">Volver</a>
				</form>
				<!-- formulario para borrar -->
				<form id="frmRemove"
					  th:action="@{'/admin/concepte/remove'}" method="post">
					<input type="hidden" name="entitatId" th:value="${concepte.entitatId}"/>
					<input type="hidden" name="id" th:value="${concepte.id}"/>
				</form>
			</div>
		</div> <!-- row -->
		<th:block th:include="include/footer :: footer"/>
	</div> <!-- container -->
	
</body>
<th:block th:include="include/footer-js :: footer-js"/>
</html>