<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="/common/head :: head('Facturaci&oacute;n')"/>
<body>
	<th:block th:include="/common/header :: header"/>
	<div class="container">
		<h2 th:text="#{series.edit.titol}">Formulario</h2>
		<hr/>
		<div class="row">
			<div class="col-md-6 col-md-offset-2">
			
				<div th:if="${#httpServletRequest.getParameter('msg')=='ok'}" 
					 class="alert alert-success" th:text="#{factu.succesful.operation}">
				</div>
								
				<form th:object="${serie}" 
					  th:action="@{/maestros/serie/save}"
					  method="post">
					<input type="hidden" name="empresaId" th:value="${serie.empresaId}"/>
					<input type="hidden" name="empresaName" th:value="${serie.empresaName}"/>
				    <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger">
				    	<ul>
						    <li th:each="e : ${#fields.detailedErrors()}" th:class="${e.global}? globalerr : fielderr">
						        <span th:text="${e.global}? '*' : ${e.fieldName}">The field name</span> |
						        <span th:text="${e.message}">The error message</span>
						    </li>
						</ul>
					</div>
						<div class="form-group">
						    <label 	for="id">ID</label>
						    <input 	class="form-control" 
						    		th:field="*{id}" tabindex="1" autofocus="autofocus"
						    		th:errorClass="text-danger"/>
				    		<span 	th:if="${#fields.hasErrors('id')}" 
				    				th:text="${#fields.errors('id')}"
				    				class="text-danger">
							</span>	
						   
						</div>
						<div class="form-group">
						    <label 	for="dec">Descripción</label>
						    <input 	class="form-control" 
						    		th:field="*{dec}" tabindex="2"/>
	 						<span 	th:if="${#fields.hasErrors('dec')}" 
						    		th:text="${#fields.errors('dec')}"
						    		class="text-danger">
							</span>					    		
						    
						</div>
						
						<div class="checkbox">
					    	<label for="visible">
					    	<input type="checkbox"
						    		th:field="*{hbl}" tabindex="3"
						    		th:errorClass="text-danger"/>Habilitado</label>
						   	<span 	th:if="${#fields.hasErrors('hbl')}" 
						    		th:text="${#fields.errors('hbl')}"
						    		class="text-danger">
						    </span>
						</div>
				
					<button type="submit" class="btn btn-primary ">Guardar</button>
					<button type="button" onclick="$('#frmRemove').submit();"
							th:if="${serie.id!=null}"
							class="btn btn-warning">Borrar</button>
					<a 		th:href="@{/maestros/series(empresa=${serie.empresaId})}"
							class="btn btn-default">Volver</a>
				</form>
				<!-- formulario para borrar -->
				<form id="frmRemove"
					  th:action="@{'/maestros/serie/remove'}" method="post">
					<input type="hidden" name="empresaId" th:value="${serie.empresaId}"/>
					<input type="hidden" name="id" th:value="${serie.id}"/>
				</form>
			</div>
		</div> <!-- row -->
		<th:block th:include="/common/footer :: footer"/>
	</div> <!-- container -->
	
</body>
</html>