<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="/include/head :: head('Altres Recerques')"/>
<style>
.form-group {
  margin-bottom: 2px;
}
</style>
<body>
<div class="container">
	<th:block th:include="/include/navbar :: navbar"/>
	<div class="box-title">
         <h2 th:text="#{altres.titol}"></h2>
     </div>
     <form class="form-horizontal" th:action="@{/altres/search}" th:object="${criteris}" method="post">
     
     <div th:if="${#fields.hasAnyErrors() or (errors!=null and errors.size()>0)}" class="alert alert-danger">
	   	<ul>
		    <li th:each="e : ${#fields.detailedErrors()}" th:class="${e.global}? globalerr : fielderr">
		        <span th:text="${e.global}? '*' : ${e.fieldName}">The field name</span> |
		        <span th:text="${e.message}">The error message</span>
		    </li>
		    <li th:each="e : ${errors}">
		        <span th:text="#{${e.key}}">The error message</span>
		    </li>
		</ul>
	 </div>
	 <div class="row">
		
			<div class="col-md-4 col-md-offset-1">
				<div class="form-group">
					<label for="datdespre" class="col-sm-7 control-label">Des de data precinte</label>
					<div class="col-md-5">
						<input type="text" class="form-control input-date" th:field="*{datdespre}" placeholder="dd/mm/yyyy"/>
					</div>
				</div>
				<div class="form-group">
					<label for="datfinpre" class="col-sm-7 control-label">Fins data precinte</label>
					<div class="col-md-5">
						<input type="text" class="form-control input-date" th:field="*{datfinpre}" placeholder="dd/mm/yyyy"/>
					</div>
				</div>
				<div class="form-group">
					<label for="entitat" class="col-sm-4 control-label">Entitat</label>
					<div class="col-sm-8">
						<select class="form-control" th:field="*{entitatId}"
							th:errorClass="text-danger" >
							<option value="">Selecciona una entitat...</option>
							<option th:each="entitat : ${entitats}"
								th:value="${entitat.id}"
								th:text="${entitat.descripcio}"></option>
						</select>
					</div>
				</div>
								 
				<div class="form-group">
					<label for="concepte" class="col-sm-4 control-label">Concepte</label>
					<div class="col-sm-8">
						<select class="form-control" th:field="*{concepteId}" th:errorClass="text-danger">
							<option value="">Selecciona un concepte...</option>
							<option th:each="concepte : ${conceptes}"
								th:value="${concepte.id}"
								th:text="${concepte.descripcio}"></option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label for="datdesdespre" class="col-sm-7 control-label">Des de data desprecinte</label>
					<div class="col-md-5">
						<input type="text" class="form-control input-date" th:field="*{datdesdespre}" placeholder="dd/mm/yyyy"/>
					</div>
				</div>
				
				<div class="form-group">
					<label for="datfindespre" class="col-sm-7 control-label">Fins data desprecinte</label>
					<div class="col-md-5">
						<input type="text" class="form-control input-date" th:field="*{datfindespre}" placeholder="dd/mm/yyyy"/>
					</div>
				</div>
				<div class="form-group">
					<label for="motiu.id" class="col-sm-5 control-label">Motiu de desprec.</label>
					<div class="col-sm-7">
						<select class="form-control" th:field="*{motiuId}"
							th:errorClass="text-danger" >
							<option value="">Selecciona un motiu...</option>
							<option th:each="motiu : ${motius}"
								th:value="${motiu.id}"
								th:text="${motiu.descripcio}"></option>
						</select>
					</div>
				</div>
				<div class="form-group pull-right" style="margin-right:1px;">
  					<button type="submit" class="btn btn-warning">
  					   <span class="glyphicon glyphicon-search"></span> Cercar
  				     </button>
				</div>
			</div>
		
	</div> <!-- row -->
	</form>
	<br/>
	<div class="row">
	  <div class="col-md-12">
		<table class="table table-condensed table-bordered">
		 	<thead>
		 	<tr>
			 	<td>Codi</td>
			 	<td>Data precinte</td>
			 	<td>Matricula</td>
			 	<td>Titular</td>
			 	<td>Entitat</td>
			 	<td>Concepte</td>
			 	<td>Referència</td>
			 	<td>Data desprecinte</td>
		 	</tr>
		 	</thead>
	 	 	<tbody>
		 	<tr th:each="precinte:${precintes}">
			 	<td th:text="${precinte.id}">11222</td>
			 	<td th:text="${#dates.format(precinte.datpre, 'dd/MM/yyyy')}">20-11-2016</td>
			 	<td th:text="${precinte.vehicle.matricula}">1111BBC</td>
			 	<td th:text="${precinte.vehicle.nomComplet}">1111BBC</td>
			 	<td th:text="${precinte.entitat.id}">Judicial</td>
			 	<td th:text="${precinte.concepte.descripcio}">Judjat Numero 1</td>
			 	<td th:text="${precinte.referencia}">expedient:123456</td>
			 	<td th:text="${precinte.datdes != null?#dates.format(precinte.datdes, 'dd/MM/yyyy'):''}"></td>
		 	</tr>
		 	</tbody>
		 	<tfoot></tfoot>
		</table>
	  </div>
	</div>
	<th:block th:include="/include/footer :: footer"/>
</div> <!-- container -->
<th:block th:include="/include/footer-js :: footer-js"/>
<script type="text/javascript">
    for(let field of $('.input-date').toArray()){
      new Cleave(field,{
    	  date:true, dataPattern:['d','m','Y']
      });
	};
	
	$(document).ready(function() {
	   $("#entitatId").change(function() {
	  	   $("#concepteId").load("/refreshConceptes", 'idEntitat='+$("#entitatId").val());
	   });
       $.datepicker.setDefaults( $.datepicker.regional[ "ca" ] );
		//ini datepicker
		$("#datdespre").datepicker({
			  dateFormat: "dd/mm/yy",
			  firstDay: 1
		});
		$("#datfinpre").datepicker({
			  dateFormat: "dd/mm/yy",
			  firstDay: 1
		});
		$("#datdesdespre").datepicker({
			  dateFormat: "dd/mm/yy",
			  firstDay: 1
		});
		$("#datfindespre").datepicker({
			  dateFormat: "dd/mm/yy",
			  firstDay: 1
		});
	
	});
</script>
</body>
</html>