<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="include/head :: head('Error')"/>
<body>
	<div class="container">
		<h1 th:text="${title}">Title</h1>
		<div id="created" th:text="${#dates.format(timestamp)}">July 11,
			2012 2:17:16 PM CDT</div>
		<div class="bg-danger">
			S'ha produit una situació d'error no controlada (de tipus=<span th:text="${error}">Bad</span>).
		</div>
		<div th:text="${url}" class="bg-danger">Fake content</div>
		<div class="bg-info" th:text="${message}">
			Please contact the operator with the above information.
		</div>
	</div>
</body>
</html>
