<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="/include/head :: head('Alta desprecinte')"/>
<body>
	<div class="container">
	<th:block th:include="/include/navbar :: navbar"/>
	<div class="box-title">
         <h2 th:text="#{desprecinte.titol}"></h2>
     </div>
     <div class="row">
        <div class="col-md-12">
            <th:block th:include="/include/vehicle :: vehicle('editDesprecinte')"/>
        </div>
     </div>
     <br/>
	 <div class="row">
		<form class="form-horizontal" th:object="${precinte}" th:action="@{/desprecinte/save}"	method="post">
		<input type="hidden" th:field="*{vehicle.id}"/>
		<input type="hidden" th:field="*{concepte.id}"/>
		<input type="hidden" th:field="*{concepte.entitatId}"/>
		<input type="hidden" th:field="*{entitat.id}"/>
		<div th:if="${#httpServletRequest.getParameter('msg')=='ok'}" 
			 class="alert alert-success"
			 th:text="#{precintes.succesful.operation}">
			 La operaci&oacute;n se ha realizado correctamente
		</div>
		<div th:if="${#fields.hasAnyErrors() or (errors!=null and errors.size()>0)}" class="alert alert-danger">
		   	<ul>
			    <li th:each="e : ${#fields.detailedErrors()}" th:class="${e.global}? globalerr : fielderr">
			        <span th:text="${e.global}? '*' : ${e.fieldName}">The field name</span> |
			        <span th:text="${e.message}">The error message</span>
			    </li>
			    <li th:each="e : ${errors}">
			        <span th:text="#{${e.key}}">The error message</span>
			    </li>
			</ul>
	   </div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="id" class="col-sm-3 control-label">Id</label>
				<div class="col-sm-8">
					<input 	class="form-control" 
			    		th:field="*{id}"
			    		readonly="readonly"/>
				</div>
			</div>
					
			<div class="form-group">
				<label for="datpre" class="col-sm-3 control-label">Data de precinte</label>
				<div class="col-sm-8">
					<input class="form-control" 
						 th:field="*{datpre}"
						 type="text" readonly="readonly"/>
				</div>
			</div>
				
			<div class="form-group">
				<label for="entitat" class="col-sm-3 control-label">Entitat</label>
				<div class="col-sm-8">
					<select disabled="disabled"   class="form-control" th:field="*{entitat.id}"
						th:errorClass="text-danger">
						<option th:each="entitat : ${entitats}"
							th:value="${entitat.id}"
							th:text="${entitat.descripcio}"></option>
					</select>
				</div>
			</div>
			
			<div class="form-group">
				<label for="concepte" class="col-sm-3 control-label">Concepte</label>
				<div class="col-sm-8">
					<select disabled="disabled" class="form-control" th:field="*{concepte.id}">
						<option th:each="concepte : ${conceptes}"
							th:value="${concepte.id}"
							th:text="${concepte.descripcio}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="ref" class="col-sm-3 control-label">Referència</label>
				<div class="col-md-8">
				<input class="form-control" th:field="*{referencia}"
						type="text" readonly="readonly" />
				</div>						
			</div>
			
			<div class="form-group">
			    <label 	for="obspre" class="col-sm-3 control-label">Observacions</label>
			    <div class="col-md-8">
			    <textarea class="form-control" 
			    		th:field="*{obspre}"
			    		th:utext="${precinte.obspre}" readonly="readonly">
	    		</textarea>
	    		</div>
			  
			</div>
		</div>
		<div class="col-md-6">			
			<div class="form-group">
				<label for="datdes" class="col-sm-4 control-label">Data desprecinte</label>
				<div class="col-sm-8">
					<input type="text"	class="form-control input-date" 
						th:errorClass="text-danger"
						th:field="*{datdes}" 
						placeholder="dd/mm/yyyy" autofocus="autofocus"/>
				</div>
			</div>
			<div class="form-group">
				<label for="motiu.id" class="col-sm-4 control-label">Motius de desprecinte</label>
				<div class="col-sm-8">
					<select class="form-control" th:field="*{motiu.id}"
						th:errorClass="text-danger" >
						<option value="">Selecciona un motiu...</option>
						<option th:each="motiu : ${motius}"
							th:value="${motiu.id}"
							th:selected="${precinte.motiu.id == motiu.id}"
							th:text="${motiu.descripcio}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="usuari.id" class="col-sm-4 control-label">Usuari</label>
				<div class="col-sm-8">
					<input type="text"	class="form-control"
						th:field="*{usuari.id}" readonly="readonly"/>
				</div>
			</div>
			<div class="form-group">
			    <label 	for="obsdes">Observacions</label>
			   	<textarea class="form-control" 
			    		th:field="*{obsdes}"
			    		th:errorClass="text-danger" 
			    		placeholder="observacions de desprecinte">
	    		</textarea>

			  
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Guardar</button>
				<a th:href="@{/vehicle/view(matric=${vehicle.matricula})}"
							class="btn btn-primary">Tornar</a>
			</div>					
		</div>	<!-- col -->
		</form>
		</div> <!-- row -->
	</div>	<!-- container -->
<th:block th:include="/include/footer-js :: footer-js"/>
<script type="text/javascript">
   var cleave = new Cleave('.input-date',{
		date:true, dataPattern:['d','m','Y']
	});
   $(function () {
      	$.datepicker.setDefaults( $.datepicker.regional[ "ca" ] );
		//ini datepicker
		$("#datdes").datepicker({
		  dateFormat: "dd/mm/yy",maxDate:"+0D",
		  firstDay: 1
		});
   });
</script>
</body>

</html>