<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="/include/head :: head('Consulta vehicle')"/>
<body>
<div class="container">
	<th:block th:include="/include/navbar :: navbar"/>
	<div class="box-title">
         <h2 th:text="#{view.titol}"></h2>
      </div>
    <div class="row">
        <div class="col-md-12">
            <th:block th:include="/include/vehicle :: vehicle('view')"/>
        </div>
    </div>
    <!-- row -->
    <div class="row">
        <div class="col-md-12">
          <h4><strong>Relació de precintes</strong><span style="float: right;"><strong>Total precintes actius: </strong><span th:text="${vehicle.numpre}" class="badge">2</span> </span></h4>
            <div class="box-toolbar">
                <div class="btn-group">
                    <a th:href="@{'/precinte/'+${vehicle.id}+'/new'}" class="btn btn-default"><em class="glyphicon glyphicon-align-left"></em> Alta precinte</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed table-bordered">
                <thead>
                    <tr>
                        <th>id#</th>
                        <th>Data introducció</th>
                        <th>Entitat</th>
                        <th>Concepte</th>
                        <th>Data desprecinte</th>
                        <th>Motiu desprecinte</th>
                        <th>Acció</th> 
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="precinte:${precintes}">
                        <td th:text="${precinte.id}">1</td>
                        <td th:text="${#dates.format(precinte.datpre, 'dd/MM/yyyy')}">01/01/2016</td>
                        <td th:text="${precinte.entitat.id}">JUDICIAL</td>
                        <td th:text="${precinte.concepte.descripcio}">JUDJAT 14 DISTRICTE 1</td>
                        <td th:text="${precinte.datdes != null?#dates.format(precinte.datdes, 'dd/MM/yyyy'):''}">01/04/2016</td>
                        <td th:text="${precinte.motiu!=null?precinte.motiu.descripcio:''}">DEUTE PAGADA</td>
                        <td><div class="btn-group">
		                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    Acció <span class="caret"></span>
							 </button>
		                    <ul class="dropdown-menu">
		                      <li><a th:href="@{'/precinte/view/'+${precinte.id}}">Amplia Detall</a></li>
		                      <li><a th:href="@{'/precinte/'+${precinte.id}}" th:if="${precinte.isDesprecintat()}==false">Editar precinte</a></li>
		                      <li><a th:href="@{'/desprecinte/'+${precinte.id}}" th:if="${precinte.isDesprecintat()}==false">Alta desprecinte</a></li>
		                      <li><a th:href="@{'/desprecinte/'+${precinte.id}}" th:if="${precinte.isDesprecintat()}==true">Editar Desprecinte</a></li>
		                      <li role="separator" class="divider"></li>
		                      <li><a href="#" th:if="${precinte.isDesprecintat()}==true" data-toggle="modal" th:attr="data-id=${precinte.id}" data-target="#cancelModal">Cancel·la Desprecinte</a></li>
		                    </ul>
		                  </div>
		                 </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 col-md-offset-11">
            <a class="btn btn-primary" th:href="@{/}"  href="#">Enrera</a>
        </div>
    </div>
    <br/>
	<th:block th:include="/include/footer :: footer"/>
</div> <!-- container -->
<th:block th:include="/include/footer-js :: footer-js"/>
<!-- Modal -->
<div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Confirmació operació</h4>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Tanca</button>
        <a th:href="@{'/desprecinte/cancel/'}" class="btn btn-primary btn-ok">Confirma</a>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#cancelModal').on('show.bs.modal', function (event) {
	  var button = $(event.relatedTarget) // Button that triggered the modal
	  var identificador = button.data('id') // Extract info from data-* attributes
	  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
	  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
	  var modal = $(this)
	  // modal.find('.modal-title').text('New message to ' + recipient)
	  modal.find('.modal-body p').html('Confirma que vol cancel·lar el desprecinte identificat pel número: '+identificador);
	  modal.find('.btn-ok').attr('href', '/desprecinte/cancel/'+identificador);
	})
</script>

</body>
</html>